---
title: Madeleine & Rowan are engaged.
---

%h1.title.icon-engagement-ring
  %span.madeleine Madeleine
  %span.amp.icon-ampersand.icon-only &amp;
  %span.rowan Rowan
  %em.subtitle are engaged.

.box
  %p
    Please join us to celebrate our engagement on
    %em.date 09 &middot; 03 &middot; 13
    for an <del>underwater</del> undercover picnic.

  %p= "Please bring a plate of food to share (there will be limited cooking facilities). Also some chairs if you can."

  %p= "As it looks like it will rain (or perhaps flood, <em>again</em>) we have moved the venue to a large undercover space at Wilston State School."

  %p="We plan to head to <a href='http://www.scratchbar.com/'>The Scratch</a> afterwards if you are able to join us. If you have any questions, get lost, or just want to say hello: Contact Maddie (0422 397 150) or Rowan (0433 901 550)."


  %dl
    %dt Location
    %dd
      = data.info.location.name
      %br
      = data.info.location.details

    %dt Time
    %dd= data.info[:time]

  .map-container{ title: "Map of #{data.info.location.name}" }
    %iframe{ width: '256', height:'256', frameBorder:'0', src:'http://a.tiles.mapbox.com/v3/rowanhogan.map-7belist9.html#16/-27.42810000000003/153.01529999999997'}
    = image_tag 'map-container.png', class: 'map-container-image'
    = link_to 'Map', 'http://tiles.mapbox.com/rowanhogan/map/map-7belist9', class: 'map-link'

  %p.icon-diamond